.floater-anchor {
  line-height: 0;
  cursor: context-menu;

  &.disabled {
    cursor: not-allowed;
  }
}
.floater-search-box {
  background-color: var(--floater-bg);
  border: 1px solid var(--floater-border);
  border-bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  > input {
    border: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--floater-text);
    font-size: var(--font-size-sm);
    padding: 4px 10px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
.floater-search-box + .floater-box {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.floater-box {
  background-color: var(--floater-bg);
  border: 1px solid var(--floater-border);
  border-radius: 8px;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .floater-item {
    background-color: var(--floater-bg-item);
    padding: 4px 10px;
    border-radius: 6px;

    &.disabled {
      opacity: 65%;
      cursor: not-allowed;
    }
    &:not(.disabled).has-action {
      cursor: pointer;
    }

    &:not(.disabled):hover {
      background-color: var(--floater-bg-item-hover);
    }

    &.is-highlighted {
      background-color: var(--floater-bg-item-highlighted);

      &:hover {
        background-color: var(--floater-bg-item-highlighted-hover);
      }
    }
  }
}
