.filter-isle-box {
  background-color: var(--background-app-header);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 12px 10px;
  width: 100%;

  &[data-stuck] {
    padding: 5px 2px 2px 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .filter-isle-reset-button {
    color: var(--tertiary);

    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: oklch(from var(--tertiary) l c h / 0.1);
    }

    &:active > svg {
      scale: 95%;
    }

    > svg {
      border: 1px solid var(--tertiary);
      border-radius: 5px;
      aspect-ratio: 1 / 1;
      width: 24px;
    }
  }
}
