.text-block-info {
  border-radius: 6px;
  padding: 15px 20px;
  background-color: var(--info-bg);
  color: var(--info-text);
  display: flex;
  gap: 5px;

  svg {
    width: 20px;
    flex-shrink: 0;
    color: var(--info);
    cursor: pointer;
    margin: -2px 4px 0 0;
  }

  &.is-collapsed .text-block-info-content,
  &.is-collapsed svg {
    color: oklch(from currentColor l c h / 0.5);
  }
}

.text-block-warning {
  border-radius: 6px;
  padding: 15px 20px;
  background-color: var(--warning-bg);
  color: var(--warning-text);
  display: flex;
  gap: 5px;

  svg {
    width: 20px;
    flex-shrink: 0;
    color: var(--warning);
    margin: -2px 4px 0 0;
  }

  &.is-collapsed .text-block-warning-content,
  &.is-collapsed svg {
    color: oklch(from currentColor l c h / 0.5);
  }
}

.text-block-success {
  border-radius: 6px;
  padding: 15px 20px;
  background-color: var(--success-bg);
  color: var(--success-text);
  display: flex;
  gap: 5px;

  svg {
    width: 20px;
    flex-shrink: 0;
    color: var(--success);
    margin: -2px 4px 0 0;
  }

  &.is-collapsed .text-block-success-content,
  &.is-collapsed svg {
    color: oklch(from currentColor l c h / 0.5);
  }
}

.text-block-error {
  border-radius: 6px;
  padding: 15px 20px;
  background-color: var(--error-bg);
  color: var(--error-text);
  display: flex;
  gap: 5px;

  svg {
    width: 20px;
    flex-shrink: 0;
    color: var(--error);
    margin: -2px 4px 0 0;
  }

  &.is-collapsed .text-block-error-content,
  &.is-collapsed svg {
    color: oklch(from currentColor l c h / 0.5);
  }
}

.text-block-comment {
  color: var(--text-dimmed);
  font-size: 0.85em;
}
