.pill-tag {
  background-color: var(--background-terminal);
  color: var(--text);
  border-radius: 16px;
  height: 32px;
  line-height: 16px;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
