#theme-toggle {
  --size: 2rem;
  --icon-fill: hsl(0deg 0% 50%);
  --icon-fill-hover-body: hsl(210deg 10% 15%);
  --icon-fill-hover-beam: hsl(210deg 10% 15%);
  --ease: linear;
  --ease-out: linear;
  --ease-elastic: cubic-bezier(0.29, 1.01, 1, -0.68);

  aspect-ratio: 1;
  background: none;
  block-size: var(--size);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  inline-size: var(--size);
  outline-offset: 5px;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;

  > svg {
    block-size: 100%;
    inline-size: 100%;
    stroke-linecap: round;
  }

  .sun-and-moon {
    > :is(.moon, .sun, .sun-beams-left, .sun-beams-right) {
      transform-origin: center center;
    }

    > :is(.moon, .sun, .stars) {
      fill: var(--icon-fill);
    }

    > :is(.sun-beams-left, .sun-beams-right) {
      stroke: var(--icon-fill);
      stroke-width: 2px;
      transition:
        transform 0.5s var(--ease-elastic),
        opacity 0.5s var(--ease);
    }

    > .sun {
      transition: transform 0.5s var(--ease-elastic);
    }

    .moon > circle {
      transition:
        transform 0.25s var(--ease-out),
        translatex 0.25s var(--ease-out),
        translatey 0.25s var(--ease-out),
        scale 0.25s var(--ease-out),
        opacity 0.25s var(--ease-out);
    }
  }

  :root.dark & {
    --icon-fill: hsl(210deg 10% 70%);
    --icon-fill-hover-body: hsl(210deg 15% 90%);
    --icon-fill-hover-beam: hsl(210deg 15% 90%);

    .sun-and-moon > .stars {
      transform: scale(1);
      translate: 12px 2px;
      opacity: 1;
      transition:
        transform 0.25s 0.5s var(--ease-out),
        translatex 0.25s 0.5s var(--ease-out),
        translatey 0.25s 0.5s var(--ease-out),
        scale 0.25s 0.5s var(--ease-out),
        opacity 0.25s 0.5s var(--ease-out);
    }

    .sun-and-moon > .sun {
      transform: scale(1.75);
      transition-duration: 0.25s;
      transition-timing-function: var(--ease);
    }

    .sun-and-moon > :is(.sun-beams-left, .sun-beams-right) {
      opacity: 0;
      transform: rotateZ(-25deg);
      transition-duration: 0.15s;
    }

    .sun-and-moon > .moon > circle {
      transform: translateX(-7px) translateY(-2px);
      transition-delay: 0.25s;
      transition-duration: 0.5s;
    }
  }

  :root.light &,
  // Edit this to change default theme (and css file `main` and context var)
  :root:not(.os-defined, .dark) & {
    .sun-and-moon > .stars {
      transform: scale(0.1);
      opacity: 0;
      transition:
        scale 0s 0s var(--ease-out),
        opacity 0s 0s var(--ease-out);
    }

    .sun-and-moon > .sun {
      transform: scale(1);
      transition-delay: 0.25s;
      transition-duration: 0.25s;
      transition-timing-function: var(--ease);
    }

    .sun-and-moon > :is(.sun-beams-left, .sun-beams-right) {
      opacity: 1;
      transform: rotateZ(-25deg);
      transition-delay: 0.5s;
      transition-duration: 0.15s;
    }

    .sun-and-moon > .moon > circle {
      transform: translateX(7px) translateY(-2px);
      transition-duration: 0.5s;
    }
  }

  // Edit this to change default theme (and css file `main` and context var)
  :root.os-defined & {
    --icon-fill: hsl(210deg 10% 70%);
    --icon-fill-hover-body: hsl(210deg 50% 25%);
    --icon-fill-hover-beam: hsl(210deg 15% 90%);

    .sun-and-moon > .stars {
      transform: scale(0.1);
      opacity: 0;
      transition:
        scale 0.25s 0s var(--ease-out),
        opacity 0.25s 0s var(--ease-out);
    }

    .sun-and-moon > .sun {
      transform: scale(1);
      transition-duration: 0.25s;
      transition-timing-function: var(--ease);
    }

    .sun-and-moon > .sun-beams-right {
      opacity: 0;
      transform: rotateZ(-25deg);
      transition-duration: 0.15s;
    }

    .sun-and-moon > .moon > circle {
      transform: translateX(-7px);
      transition-delay: 0.25s;
      transition-duration: 0.5s;
    }
  }
}

#theme-toggle:is(:hover, :focus-visible) .sun-and-moon {
  > :is(.moon, .sun, .stars) {
    fill: var(--icon-fill-hover-body);
  }

  > :is(.sun-beams-left, .sun-beams-right) {
    stroke: var(--icon-fill-hover-beam);
  }
}
