.skeleton-text {
  display: inline-block;
  background: var(--text-faded);
  border-radius: 5px;
  height: 14px;
  line-height: 14px;
  transform: none;
  margin: 0 0 0 0 !important;

  &.is-header {
    height: 28px;
  }
}
